.extension-container {
    display: flex;
    flex-direction: column;
    height: auto;       /* Permite que la altura se ajuste autom치ticamente */
    max-height: 500px;  /* Establece la altura m치xima en 500px */
    overflow: hidden;   /* Oculta el desbordamiento para mantener el tama침o m치ximo */
}
  
.extension-header, .extension-footer {
    background-color: #f5f5f5;
    text-align: center;
    flex-shrink: 0; /* Evita que se reduzcan */
}
  
.extension-body {
    flex: 1; /* Ocupa todo el espacio disponible entre el header y el footer */
    overflow-y: auto; /* Habilita el scroll solo en el cuerpo */
    padding: 10px;
}