.logo{
    width: 3.5em;
}

span{
    font-size: 0.9em;
}

.logo-1{
    width: 50%;
    object-fit: contain;
}

.options{
    width: 200px;
}

.menu{
    padding: 0 !important;
}

button{
    border-radius: 10px;
    text-align: center;
}

.ml-custom{
    padding: 2px !important;
}

button > svg {
    margin: 0 !important;
}

mat-list-item {
    height: auto !important;
}

.svg{
    cursor: pointer;
}

.bg-custom{
    background-color: rgb(215, 238, 252);
}

.ref{
    font-size: 15px;
}

.foot{
    width: 33%;
}

svg{
    margin-right: 0.3em;
}