.logo{
    width: 3.5em;
}

.logo-1{
    width: 20%;
    object-fit: contain;
}

.options{
    width: 200px;
}

.menu{
    padding: 0 !important;
}

button{
    border-radius: 10px;
    background-color: rgb(215, 238, 252) !important;
}

.ml-custom{
    padding: 2px !important;
}

button > svg {
    margin: 0 !important;
}

mat-list-item {
    height: auto !important;
    margin: 0.4em;
}

.svg{
    cursor: pointer;
}

.bg-custom{
    background-color: rgb(215, 238, 252);
}

.ref{
    font-size: 15px;
}

.foot{
    width: 33%;
}

svg{
    margin-right: 0.3em;
}