span{
    font-size: 0.9em;
}

.logo-1{
    width: 50%;
    object-fit: contain;
}

.options{
    width: 200px;
}

button{
    border-radius: 10px;
    text-align: center;
}

.ml-custom{
    padding: 2px !important;
}

button > svg {
    margin: 0 !important;
}

mat-list-item {
    height: auto !important;
}



.foot{
    width: 33%;
}