<mat-grid-list cols="1">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="3" rowHeight="1:2">
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item><strong>Nombre titular</strong></mat-list-item>
                        <mat-list-item>Fecha Nacimiento</mat-list-item>
                        <mat-list-item>SSN</mat-list-item>
                        <mat-list-item>Direccion</mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item><strong>Familia</strong></mat-list-item>
                        <mat-list-item>MP ID:</mat-list-item>
                        <mat-list-item>ID Subscriber</mat-list-item>
                        <mat-list-item>Efectividad</mat-list-item>
                        <mat-list-item>Terminacion</mat-list-item>
                        <mat-list-item>Estado</mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item><strong>Valor prima</strong></mat-list-item>
                        <mat-list-item>Subsidio</mat-list-item>
                        <mat-list-item>Max Desembolso</mat-list-item>
                        <mat-list-item>Deducible</mat-list-item>
                        <mat-list-item>Plan ID</mat-list-item>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</mat-grid-list>
  
  <p>
    <strong>{{ message() }}</strong>
  </p>
  