<mat-grid-list cols="1">
    <mat-card class="example-card">
        <mat-card-header>
          <img src="https://th.bing.com/th/id/R.5496169780c0e0cddb353673458ffc1a?rik=Of4g0mMtzcXAHQ&pid=ImgRaw&r=0" alt="" class="full-img">
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="1:1.3">
                <mat-grid-tile colspan="2">
                    <mat-list class="inc">
                        <mat-list-item><strong>Nombre titular: </strong>SANTIAGO MONCADA PEÑA</mat-list-item>
                        <mat-list-item><strong>Fecha Nacimiento: </strong>10-19-2001</mat-list-item>
                        <mat-list-item><strong>SSN: </strong>119-31-13161</mat-list-item>
                        <mat-list-item><strong>Direccion: </strong>Los miamis beach <strong>Ciudad: </strong>Mayamis <strong>Zipcode:</strong> 660000</mat-list-item>
                        <mat-list-item><strong>Estado: </strong>FL</mat-list-item>
                        <mat-list-item><strong>E-mail: </strong>Prueba&#64;hotmail.com</mat-list-item>
                        <mat-list-item><strong>Phone: </strong>123456789</mat-list-item>
                        <mat-list-item><strong>Ingresos: </strong>$15100</mat-list-item> 
                    </mat-list>
                </mat-grid-tile>  
                <mat-grid-tile>
                    <mat-list class="inc" >
                        <mat-list-item><strong>Familia: </strong><a href=""><strong>1x1</strong></a></mat-list-item>
                        <mat-list-item><strong>MP ID: </strong>123456789</mat-list-item>
                        <mat-list-item><strong>ID Subscriber: </strong>123456789</mat-list-item>
                        <mat-list-item><strong>Efectividad: </strong>10-01-2024</mat-list-item>
                        <mat-list-item><strong>Terminacion: </strong>12-31-2024</mat-list-item>
                        <mat-list-item><strong>Estado: </strong>Inscrito</mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list class="inc">
                        <mat-list-item><strong>Valor prima: </strong>$99.99</mat-list-item>
                        <mat-list-item><strong>Subsidio: </strong>$200.01</mat-list-item>
                        <mat-list-item><strong>Max Desembolso: </strong>$1800</mat-list-item>
                        <mat-list-item><strong>Deducible: </strong>$0</mat-list-item>
                        <mat-list-item><strong>Plan ID: </strong>987654321</mat-list-item>
                        <mat-list-item><strong>Agente: </strong>BS</mat-list-item>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-actions class="btn">
          <button mat-raised-button>LIKE</button>
          <button mat-raised-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</mat-grid-list>
  
  <p>
    <strong>{{ message() }}</strong>
  </p>
  