<mat-list class="col-sm-12">
    <div class="card mb-3 border-light" style="border-radius: 10px; background: ghostwhite !important">
        <div class="row g-0 " style="border-radius: 10px;">
            <div class="card-header" style="background: ghostwhite !important">
                <div class="d-flex justify-content-between">
                    <div>
                        <strong id="firstname">{{owner().firstname}} </strong>
                        <strong id="middlename">{{owner().middlename}} </strong>
                        <strong id="lastname">{{ owner().lastname }}</strong>
                    </div>                                  
                    <div [style.color]="owner().eligibility == 'Not Applying' || owner().eligibility == 'No aplica' ? 'red' : 'green'">
                        <img [src]="owner().eligibility === 'Not Applying' || owner().eligibility === 'No aplica' ? 'assets/svg/error.svg' : 'assets/svg/check.svg'" alt="">
                        <span style="font-size: 15px;" title="Estado"> {{owner().eligibility}}</span>
                    </div>                                  
                </div>                              
            </div>
            <div class="col-md-4 col-sm-4 d-flex justify-content-center align-items-center" >
                <img src="https://d1mm04003omuon.cloudfront.net/assets/logomark-8edc285da3ed1fe77677b59fa5cfe53aa590c186100c91aaac1c0cf89adc0b53.png" class="img-fluid rounded-start w-50" alt="...">
            </div>                              
            <div class="col-md-8 col-sm-8">
                <div class="card-body text-center">                                
                    <div class="card-text">
                        <mat-list>
                            <mat-list-item><span style="font-size: 12px;"><strong>SSN:</strong> </span><span title="SSN" id="ssn"> {{owner().ssn}}</span></mat-list-item>
                            <mat-list-item><span style="font-size: 12px;"><strong>DoB:</strong> </span><span title="Fecha nacimiento" id="dob"> {{owner().dob}}</span></mat-list-item>
                            <mat-list-item><span style="font-size: 12px;"><strong>Income:</strong> </span><span title="Ingresos" id="income"> {{owner().income}}</span></mat-list-item>
                        </mat-list>
                    </div>
                    <p class="card-text"><small class="text-body-secondary"><span title="Direccion" id="address"> {{owner().address.address}}</span><span title="Ciudad" id="city"> {{owner().address.city}} <span id="state">{{owner().address.state}}</span> <span id="zipcode">{{owner().address.zipcode}}</span></span></small></p>
                </div>
            </div>
        </div>
    </div>                                         
</mat-list>
<mat-list class="col-md-6 col-sm-12 d-flex justify-content-around text-center">
    <mat-list-item>
        <img src="assets/svg/email.svg" alt="">
        <span title="E-mail" id="email"> {{owner().email}}</span>
    </mat-list-item>                  
    <mat-list-item>
        <img src="assets/svg/phone.svg" alt="">
        <span title="Numero contacto" id="phone"> {{owner().phone}}</span>
    </mat-list-item>                                                   
</mat-list>