<mat-tab-group class="col-sm-12">
  @for (plan of plans(); track plan.ffm_id; let idx = $index) {
    @let img_src = 'assets/' + company_img[plan.company] + '.png';
      <mat-tab [label]="'Plan ' + (idx + 1)">
        <mat-list style="height: 260px;">
            <div class="card border-light" style="border-radius: 10px; background: ghostwhite !important">
                <div class="row g-0 " style="border-radius: 10px;">
                    <div class="card-header d-flex justify-content-between" style="background: ghostwhite !important">
                        <strong><small>{{plan.name}}</small></strong>
                        <div>
                            <span id="efectividad"><small>{{plan.effective}} - {{plan.termination}}</small></span>
                        </div>                                  
                    </div>
                    <div class="col-md-4 col-sm-4 d-flex justify-content-center align-items-center">
                        <img id="dynamicImage" [src]="img_src" class="img-fluid rounded-start p-4" alt="..." >
                    </div>                              
                    <div class="col-md-8 col-sm-8">
                        <div class="card-body">                                
                            <div class="card-text row">
                                <div class="col-sm-5 d-flex justify-content-center align-items-center text-center p-0">
                                    <table class="table m-0" style="--bs-table-bg: transparent">
                                        <tbody style="border: transparent">
                                            <tr>
                                                <td style="padding: 0;"><img src="assets/svg/dependents.svg" style="margin-right: 3px; position: relative; bottom: 1.5px;" alt=""><span>{{plan.dependents}}</span></td>    
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                                <mat-list class="col-sm-7">
                                    <mat-list-item><span style="font-size: 12px;"><strong>Premium:</strong> </span><span title="Valor prima" id="premium_price"> {{plan.premium}}</span></mat-list-item>
                                    <mat-list-item><span style="font-size: 12px;"><strong>Deductible:</strong> </span><span title="Deducible" id="deductible"> {{plan.deductible}}</span></mat-list-item>                                     
                                    <mat-list-item><span style="font-size: 12px;"><strong>OPP Max: </strong> </span><span title="Max desembolso" id="max_desem"> {{plan.opp_max}}</span></mat-list-item>
                                    <mat-list-item><span style="font-size: 12px;"><strong>Subscriber ID:</strong> </span><span title="plans id" id="plans_id"> {{plan.subscriber_id}}</span></mat-list-item>             
                                </mat-list>
                            </div>                                                                
                        </div>
                    </div>
                </div>                
            </div>
            <div class="text-center">
                <p class="card-text"><small class="text-body-secondary">MP ID<span title="MP ID" id="mp_id"> {{plan.ffm_id}} </span></small></p>
            </div>                                        
        </mat-list>        
      </mat-tab>
    }
</mat-tab-group>