<div id="footer" class="container-fluid bg-primary">
    <div class="d-flex justify-content-between">
        <button mat-button [matMenuTriggerFor]="menu" class="btn btn-primary">
            <img src="assets/svg/options.svg" alt="">
        </button>
        <mat-menu #menu="matMenu" class="bg-primary">
            <button mat-menu-item (click)="onClick()" class="text-center">SCRAP</button>
            <button mat-menu-item class="text-center">COMPARE</button>
            <button mat-menu-item (click)="clean()" class="text-center">CLEAN</button>
        </mat-menu>        
        <div class="d-flex justify-content-center align-items-center p-2">
            <div>
                <span>Created with </span>
            </div>
            <div>
                <img src="assets/svg/bootstrap.svg" class="m-1" alt="">
                <img src="assets/svg/angular.svg"  alt="">
            </div>
        </div>
        <img src="assets/svg/github.svg" (click)="OpenGithub()" class="p-2" alt="">
    </div>
</div>