<div id="content" class="container-fluid p-2">
    <mat-accordion>
        @for (panel of panels; track panel.id) {
            <mat-expansion-panel [disabled]="!isDisabled()"  [expanded]="!isDisabled()" style="background: ghostwhite !important">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>{{panel.title}}</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container-fluid row">
                    <ng-container [ngComponentOutlet]="panel.component" [ngComponentOutletInputs]="panel.data"></ng-container>
                </div>
            </mat-expansion-panel>
        }
    </mat-accordion>
</div>