<div class="col-sm-12">
  <table class="table" style="--bs-table-bg: transparent">
    <thead class="text-center">
      <tr>
        @for (column of columns(); track $index) {
          <th>{{ column.label }}</th>
        }
      </tr>
    </thead>
    <tbody class="text-center">
      @for (member of members(); track $index) {
        <tr>
          @for (column of columns(); track $index) {
            <td>{{ member[column.key] }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>