<div id="header" class="container-fluid bg-primary d-flex justify-content-between p-2">
    <div class="d-flex">
        <img src="assets/SCE.png" class="logo p-2" alt="">
        <div class="row fs-6">
            <span class="position-relative" style="top: 0.8em"><strong>S</strong>crapshy <strong>C</strong>hromium</span>
            <span class="position-relative" style="left: 2.3em;"><strong>E</strong>xtension</span>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <svg (click)="closeExtension()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg cursor-pointer me-1" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
    </div>
</div>